<ion-nav-bar class="bar-stable">
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Quiz Tab -->
  <ion-tab title="Questionário" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="app.result">
    <ion-nav-view name="app-quiz"></ion-nav-view>
  </ion-tab>

  <!-- Info Tab -->
  <ion-tab title="Informações" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" ui-sref="app.info">
    <ion-nav-view name="app-info"></ion-nav-view>
  </ion-tab>

</ion-tabs>
