<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Enviar questionário</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeEmailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="emailForm" novalidate>
      <div class="divider">
        <span>Meus dados</span>
      </div>
      <label class="item item-input">
        <input ng-model="vm.email.user.name" type="text" placeholder="Meu Nome" required>
      </label>
      <label class="item item-input">
        <input ng-model="vm.email.user.age" type="number" min="0" max="120" placeholder="Minha idade" required>
      </label>
      <label class="item item-input">
        <input ng-model="vm.email.user.email" type="email" placeholder="Meu Email" required>
      </label>
      <div class="divider">
        <span>Destinatários</span>
      </div>
      <div class="list">
        <label class="item item-input" ng-repeat="destination in vm.email.destinations">
          <input ng-model="destination.email" type="email" placeholder="Destinatários {{ $index + 1 }}" required>
        </label>
      </div>
      <div class="divider">
        <span>Enviar ou adicionar mais destinatários</span>
      </div>
      <div class="button-bar">
        <button class="button button-balanced" ng-click="vm.addDestination()"><i class="icon ion-android-add"></i></button>
        <button class="button button-positive" ng-click="vm.sendEmail()" ng-disabled="emailForm.$invalid || vm.getValidDestinations().length === 0"><i class="icon ion-android-done"></i></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>