<ion-view view-title="Informações">
  <ion-content class="padding">
    <h1>Informações</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
      Cras eros mi, tempus et ultricies at, sodales at quam. Quisque ullamcorper, urna ultricies cursus pharetra, quam ante egestas nunc, vitae euismod sapien lacus ut odio.
    </p>
    <p>
      Phasellus hendrerit convallis sapien, et efficitur leo pellentesque non. Vestibulum in consectetur lorem, condimentum fringilla lectus. Ut in nibh cursus, semper nibh et, placerat leo. In a ante et sapien porta congue et quis lectus. Vestibulum molestie elit quis odio tempor, sit amet euismod velit scelerisque. Sed sed porttitor nibh, et commodo est. Donec consequat urna et eros luctus, sit amet bibendum dui fringilla.
    </p>
    <p>
      Fusce eleifend, metus nec faucibus pellentesque, dolor nunc placerat enim, eget consequat leo velit eget libero. Nunc at elit ex.
    </p>
  </ion-content>
</ion-view>
