<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Enviar questionário</h1>
    <button class="button button-clear button-primary" ng-click="vm.closePdfModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="pdfForm" novalidate>
      <div class="divider">
        <span>Meus dados</span>
      </div>
      <label class="item item-input">
        <input ng-model="vm.user.name" type="text" placeholder="Meu Nome" required>
      </label>
      <label class="item item-input">
        <input ng-model="vm.user.email" type="email" placeholder="Meu Email" required>
      </label>
      <div class="divider">
        <span>Finalizar</span>
      </div>
      <div class="button-bar">
        <button class="button button-positive" ng-click="vm.savePdf()" ng-disabled="pdfForm.$invalid">
          Gerar PDF
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>