<ion-view view-title="Questionário">
  <ion-content class="padding">

    <div ng-repeat="question in vm.questions | slice:vm.currentQuestion" class="list card">
      <div class="item">
        <h2 ng-bind="'Pergunta ' + (vm.currentQuestion + 1)"></h2>
      </div>
      <div class="item item-text-wrap">
        <span ng-bind="question.text"></span>
      </div>
      <div class="item item-text-wrap">
        <answerer ng-model="question.answer" on-answer="vm.onAnswer()"></answerer>
      </div>
    </div>
        
    <div class="list" ng-if="vm.debug">
      <div class="item">
        <h3>Debug is On!</h3>
      </div>
      <div class="item button-bar">
        <a class="button button-stable ion-ios-star" ng-click="vm.answerAll()"></a>
      </div>
    </div>

  </ion-content>
</ion-view>
