<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 8 - Desafiador</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo forte e dominador. As pessoas pertencentes ao Tipo Oito são seguras de si, firmes e assertivas. Protetoras, talentosas e dedicadas, podem ser também orgulhosas e dominadoras. Por achar que precisam controlar o meio em que vivem, as pessoas deste tipo mostram-se muitas vezes contenciosas e intimidadoras. Seu maior problema é a dificuldade de compartilhar a intimidade. Em seu aspecto mais positivo, quando se encontram na faixa saudável, as pessoas deste tipo são mestras do autodomínio - usam sua forca para melhorar a vida dos outros, mostrando-se heroicas, magnânimas e, as vezes, deixando sua marca na História.</p>
    <p><b>Medo fundamental:</b> Medo de ser machucado ou controlado pelos outros. <i>“Ser vulnerável e confiar nos outros não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de proteger-se (descamba em escapismo frenético). <i>“Você não será traído.”</i></p>
    <p><b>Convite:</b> Defender-se e defender aquilo em que acredita. Lembre-se que é de sua verdadeira natureza ser forte e capaz de influir sobre o mundo de várias formas positivas.</p>
    <p><b>Sinal de Alerta:</b> A sensação de precisar pressionar e lutar para que as coisas aconteçam.</p>
  </ion-content>
</ion-modal-view>
