<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 6 - Partidário</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo dedicado, que valoriza a segurança. As pessoas do Tipo Seis são esforçadas, responsáveis e dignas de confiança, mas podem ser defensivas, evasivas e muito ansiosas, estressando-se só de reclamar do stress. Costumam ser indecisas e cautelosas, mas podem mostrar-se reativas, desafiadoras e rebeldes. Seus problemas mais comuns são a insegurança e a desconfiança. Em seu aspecto mais positivo, quando se encontram na faixa saudável, as pessoas deste tipo são dotadas de muita estabilidade e autoconfiança, defendendo corajosamente os mais necessitados.</p>
    <p><b>Medo fundamental:</b> Medo de não contar com apoio ou orientação. <i>“Confiar em si mesmo não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ter segurança (descamba em apego a convicções). <i>“Você está seguro.”</i></p>
    <p><b>Convite:</b> Ter fé em si mesmo e confiar na bondade da vida. Lembre-se que é de sua verdadeira natureza ser corajoso e capaz de lidar com a vida sob quaisquer circunstâncias.</p>
    <p><b>Sinal de Alerta:</b> Dependência de algo exterior ao eu para orientação.</p>
  </ion-content>
  </ion-content>
