<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 2 - Ajudante</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo compreensivo, voltado para o lado interpessoal. As pessoas do Tipo Dois são amigáveis, generosas, empáticas, sinceras e afetuosas, mas podem ser também sentimentalistas e aduladoras, esforçando-se para agradar os outros a qualquer preço. Sua maior motivação é chegar perto dos demais e, por isso, muitas vezes tentam tornar-se necessárias. Costumam ter dificuldade em cuidar de si mesmas e reconhecer suas próprias necessidades. Em seu aspecto mais positivo, quando se encontram na faixa saudável, são pessoas altruístas e desprendidas que amam a si mesmas e aos demais incondicionalmente.</p>
    <p><b>Medo fundamental:</b> Medo de não merecer ser amado. <i>“Ter necessidades próprias não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ser amado (descamba em necessidade de fazer-se necessário). <i>“Você é querido.”</i></p>
    <p><b>Convite:</b> Cuidar de si mesmo e dos outros. Lembre-se que é de sua verdadeira natureza ser bom consigo mesmo e ter boa vontade e compaixão para com seus semelhantes.</p>
    <p><b>Sinal de Alerta:</b> A convicção de que precisa convencer os outros de que está certo.</p>
  </ion-content>
</ion-modal-view>