<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 3 - Realizador</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo adaptável, movido pelo sucesso. As pessoas do Tipo Três são seguras de si, atraentes e encantadoras. Ambiciosas, competentes e sempre prontas a agir elas podem deixar-se orientar muito também pelo status e pela ideia de progredir na vida. Muitas vezes preocupam-se com a própria imagem e com o que os outros pensam a seu respeito. Seus problemas geralmente são a paixão excessiva pelo trabalho e a competitividade. Em seu aspecto mais positivo, quando se encontram na faixa saudável, são pessoas autênticas, que se aceitam como são e de fato representam tudo aquilo que parecem ser: modelos que a todos inspiram.</p>
    <p><b>Medo fundamental:</b> Medo de ser desprezível, de não valer nada. <i>“Ter sentimentos e identidade próprios não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ter valor (descamba em busca de sucesso). <i>“Você é amado pelo que é.”</i></p>
    <p><b>Convite:</b> Desenvolver-se e dar aos demais um exemplo. Lembre-se que é de sua verdadeira natureza ter prazer na própria vida e estimar e valorizar as pessoas.</p>
    <p><b>Sinal de Alerta:</b> O surgimento do impulso de buscar status e atenção.</p>
  </ion-content>
</ion-modal-view>