<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 1 - Reformista</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo idealista, seguidor de princípios. Éticas e conscienciosas, as pessoas do Tipo Um têm um senso muito claro do que é certo ou errado. São professores e cruzados que sempre lutam para melhorar as coisas, mas têm medo de errar. Organizadas, ordeiras e meticulosas, elas tentam viver conforme altos padrões, mas podem resvalar para a crítica e o perfeccionismo. Costumam ter problemas com a impaciência e a raiva reprimida. Em seu aspecto mais positivo, quando se encontram na faixa saudável, essas pessoas são criteriosas, ponderadas, realistas e nobres, além de moralmente heroicas.</p>
    <p><b>Medo fundamental:</b> Medo de ser mau, corrupto, malvado ou falho. <i>“Errar não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ter integridade (descamba em perfeccionismo e crítica). <i>“Você é bom.”</i></p>
    <p><b>Convite:</b> Viver por um objetivo mais sublime. Lembre-se que é de sua verdadeira natureza ser sábio e ponderado.</p>
    <p><b>Sinal de Alerta:</b> A sensação de ter a obrigação de cuidar de tudo sozinho.</p>
  </ion-content>
</ion-modal-view>