<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 4 - Individualista</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo romântico, introspectivo. As pessoas do Tipo Quatro são atentas a si mesmas, sensíveis, calmas e reservadas. São emocionalmente honestas e não têm medo de revelar-se como são, mas estão sujeitas a flutuações de humor e inibições. Podem mostrar-se desdenhosas e agir como se não estivessem sujeitas às mesmas leis que os demais, ao mesmo tempo que se esquivam das pessoas por sentir-se vulneráveis e cheias de defeitos. Seus problemas mais comuns são o comodismo e a autocomiseração. Em seu aspecto mais positivo, quando se encontram na faixa saudável, são pessoas muito criativas e inspiradas, capazes de renovar-se e transformar as próprias experiências.</p>
    <p><b>Medo fundamental:</b> Medo de não ter identidade, incapaz ou incompetente. <i>“Estar bem ou feliz demais não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ser quem é (descamba em autocomplacência). <i>“Você é visto como é.”</i></p>
    <p><b>Convite:</b> Abandonar o passado e renovar-se com as próprias experiências. Lembre-se que é de sua verdadeira natureza perdoar e usar tudo que estiver ao seu alcance para seu crescimento e renovação.</p>
    <p><b>Sinal de Alerta:</b> Apego aos sentimentos e sua intensificação pela imaginação.</p>
  </ion-content>
</ion-modal-view>