<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 5 - Investigador</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo concentrado, cerebral. As pessoas do Tipo Cinco são alertas, perspicazes e curiosas. Conseguem abstrair-se de tudo e concentrar-se no cultivo de ideias e dons os mais complexos. Independentes e inovadoras, quando excessivamente dedicadas a seus pensamentos e construtos imaginários, podem mostrar-se distantes e irritadiças. Em gral, seus maiores problemas são o isolamento, a excentricidade e o niilismo. Em seu aspecto mais positivo, quando se encontram na faixa saudável, as pessoas do Tipo Cinco são como pioneiros e visionários que vivem adiante de seu tempo e veem o mundo de uma forma inteiramente nova.</p>
    <p><b>Medo fundamental:</b> Medo de ser inútil, incapaz ou incompetente. <i>“Estar à vontade no mundo não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ser competente (descamba em especializações inúteis). <i>“Suas necessidades não são problema.”</i></p>
    <p><b>Convite:</b> Observar a si mesmo e aos outros sem julgamentos nem expectativas. Lembre-se que é de sua verdadeira natureza ter os pés na realidade, contemplando as infinitas riquezas do mundo.</p>
    <p><b>Sinal de Alerta:</b> Fuga da realidade e refúgio em mundos e conceitos mentais.</p>
  </ion-content>
</ion-modal-view>