<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 7 - Entusiasta</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo produtivo, sempre ocupado. As pessoas do Tipo Sete são versáteis, espontâneas e otimistas. Práticas, brincalhonas e joviais, podem mostrar-se também dispersivas e pouco disciplinadas, tendo a assumir os responsabilidades do que poderiam dar conta. Sua eterna busca de novas emoções pode levá-las a não terminar o que começaram, exaustas pelo excesso de atividade. Seus maiores problemas são geralmente a superficialidade e a impulsividade. Em seu aspecto mais positivo, quando se encontram na faixa saudável, as pessoas do Tipo Sete mostram-se capazes de concentrar-se em metas louváveis, realizando-se e tornando-se cheias de alegria e gratidão.</p>
    <p><b>Medo fundamental:</b> Medo de sofrer dor ou privação. <i>“Depender dos outros para alguma coisa não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de ser feliz (descamba em escapismo frenético). <i>“Você não será abandonado.”</i></p>
    <p><b>Convite:</b> Celebrar com alegria a existência e compartilhar sua felicidade. Lembre-se que é de sua verdadeira natureza ser feliz e contribuir para que a experiência de todos seja rica.</p>
    <p><b>Sinal de Alerta:</b> A sensação de que existe algo melhor em algum outro lugar.</p>
  </ion-content>
</ion-modal-view>