<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Tipo 9 - Pacifista</h1>
    <button class="button button-clear button-primary" ng-click="vm.closeDetailModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="padding clean-text-wrap" padding="true">
    <p>Tipo descomplicado de fácil convivência. As pessoas deste tipo são constantes, crédulas e receptivas. Têm bom gênio, bom coração e são fáceis de contentar, mas podem ir longe demais na disposição de ceder para manter a paz. Em sua ânsia de evitar conflitos, podem exagerar na complacência, minimizando todos os entraves que surgirem. Seus maiores problemas são a passividade e a teimosia. Em seu aspecto mais positivo, quando se encontram na faixa saudável, as pessoas do Tipo Nove são incansáveis em sua dedicação e aproximar os demais e resolver mal-entendidos.</p>
    <p><b>Medo fundamental:</b> Medo de fragmentar-se, de perder o vínculo com os outros. <i>“Impor-se não é bom.”</i></p>
    <p><b>Desejo fundamental:</b> O desejo de estar em paz (descamba em teimosia negligência). <i>“Sua presença é importante.”</i></p>
    <p><b>Convite:</b> Levar ao seu mundo a paz e a cura. Lembre-se que é de sua verdadeira natureza ser uma fonte inesgotável de serenidade aceitação e bondade.</p>
    <p><b>Sinal de Alerta:</b> Acomodação exterior aos outros.</p>
  </ion-content>
</ion-modal-view>