<div>
  <p class="text-gray text-center no-margins no-paddings offset-top-10" ng-bind="'Perguntas de ' + (((vm.currentPage - 1) * vm.steps()) + 1) + ' até ' + (vm.currentPage * vm.steps())"></p>
  <div class="range">
    <span class="text-gray">1</span>
    <input type="range" name="volume" min="1" max="{{ vm.totalPages }}" ng-model="vm.currentPage" on-release="vm.change()"/>
    <span class="text-gray" ng-bind="vm.totalPages"></span>
  </div>
  <div class="button-bar">
    <a class="button button-outline button-dark icon-left ion-chevron-left" ng-click="vm.prev()" ng-disabled="vm.currentPage <= 1">Voltar</a>
    <a class="button button-outline button-dark icon-right ion-chevron-right" ng-click="vm.next()" ng-disabled="vm.currentPage >= vm.totalPages">Próximo</a>
  </div>
</div>