<div class="button-bar">
  <a class="button button-clear button-dark" ng-click="vm.change(1)">
    <i class="icon" ng-class="{ 'ion-ios-star': vm.model >= 1, 'ion-ios-star-outline': vm.model < 1 }"></i>
  </a>
  <a class="button button-clear button-dark" ng-click="vm.change(2)">
    <i class="icon" ng-class="{ 'ion-ios-star': vm.model >= 2, 'ion-ios-star-outline': vm.model < 2 }"></i>
  </a>
  <a class="button button-clear button-dark" ng-click="vm.change(3)">
    <i class="icon" ng-class="{ 'ion-ios-star': vm.model >= 3, 'ion-ios-star-outline': vm.model < 3 }"></i>
  </a>
  <a class="button button-clear button-dark" ng-click="vm.change(4)">
    <i class="icon" ng-class="{ 'ion-ios-star': vm.model >= 4, 'ion-ios-star-outline': vm.model < 4 }"></i>
  </a>
  <a class="button button-clear button-dark" ng-click="vm.change(5)">
    <i class="icon" ng-class="{ 'ion-ios-star': vm.model >= 5, 'ion-ios-star-outline': vm.model < 5 }"></i>
  </a>
</div>
