.text-gray {
  color: #CCC;
}

.text-center {
  text-align: center;
}

.no-margins {
  margin: 0;
}

.no-paddings {
  padding: 0;
}

.offset-top-10 {
  position: relative;
  top: 10px;
}

.center {
  text-align: center;
}

.text-small {
  font-size: 10px;
}

a.button.activated {
  opacity: 1;
}

.card .item:last-child {
  text-align: right;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  border: none;
}

.card .item:last-child a {
  font-size: 0.7em;
}

.result-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.hidden {
  position: fixed;
  left: -10000px;
  top: -10000px;
}

.result-card h2 {
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  padding-right: 5%;
  width: 21%;
  border-right: 1px dashed #CCC;
}

.result-card p {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
  padding-left: 5%;
  width: 79%;
  font-size: 0.8em;
}

.result-card h2 span:first-child {
  display: block;
  font-size: 1em;
}

.result-card h2 span:last-child {
  display: block;
  font-size: 2.5em;
}

.result-card.result-card-big h2 {
  font-size: 1.3em;
}

.result-card.result-card-big p {
  font-size: 0.9em;
}

.divider {
  text-align: center;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 25px;
}

.divider span {
  background-color: white;
  padding: 10px;
  position: relative;
  top: 10px;
  color: #CCC;
}

input.ng-invalid:not(.ng-untouched) {
  border-right: 5px solid #ef473a;
}

.last-place h2 {
  color: #ef473a;
}

.last-place p {
  color: #ef473a;
}

.clean-text-wrap p {
  font-size: 1.1em;
  line-height: 1.8em;
}

.clean-text-wrap h4 {
  margin-bottom: 20px;
  text-align: center;
}