.text-gray {
  color: #CCC;
}

.text-center {
  text-align: center;
}

.no-margins {
  margin: 0;
}

.no-paddings {
  padding: 0;
}

.offset-top-10 {
  position: relative;
  top: 10px;
}

.text-small {
  font-size: 10px;
}